.gridIndex {
  display: grid;
  grid-template-areas:
    "img form"
    "img form" 
    ;
}
element.style{
  height: 100%;
}
img {
  grid-area: img;
  height: 100%;
  
}
form{
  grid-area:form;
  
  margin: 0 auto;
  width: 100%;
  padding: 100px;
  border: 1px solid #CCC;
  border-radius: 2em;
}
.card  input {
  margin-top: 0;
  text-align: center;
  font-size: 1.3rem;
}
.card-action {
  max-width: 100%;
}

#mensaje {
  font-style: italic;
  font-size: 1.3rem;
}
.error {
  color: red;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid red;
}
